@model IQueryable<Usuario>
@{
    ViewBag.Subtitulo = "Listagem";
}

<h1 class="text-primary">Usuários</h1>
<hr>
<a asp-action="Cadastrar" class="btn btn-primary">Novo Usuário</a>

<table class="table">
@if(TempData.ContainsKey("Excluiu"))
{
    var excluiu = (bool)TempData["Excluiu"];
    if(excluiu)
    {
        <partial name="_MensagemInfo" model="@("Usuário excluído com sucesso.")"></partial>
    }
    else
    {
        <partial name="_MensagemErro" model="@("Não foi possível excluir o usuário.")"></partial>
    }
}
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Nome</td>
                <td>@u.Email</td>
                <td>
                    <a asp-action="Cadastrar" asp-route-id="@u.Id" class="btn btn-sm btn-secondary">Alterar</a>
                    <a asp-action="Excluir" asp-route-id="@u.Id" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script src="/lib/bootstrap5/dist/js/bootstrap.js"></script>
}
@section LogoPagina
{
    <img src="/img/usuarios.png" height="24" class="d-inline-block align-text-bottom">
}
